body{
  background-color: #393E46;
  text-align: center;
}

h1{
  margin-top: 0;
  font-size: 8rem;
  color: #4ECCA3;
  font-family: 'Lavishly Yours', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Send Flowers', cursive;
}

.dice{
  text-align: center;
  display: inline-block;
}

p{
  font-size: 4rem;
  font-family: 'Ingrid Darling', cursive;
  font-family: 'Lavishly Yours', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Send Flowers', cursive;
  color: #30AADD;
}

img{
  width: 80%;
}
